<ion-view title="Event">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <!-- Exclude 1st item -->
      <ion-item class="item" href="#/app/events/{{events.length}}">
        <div class="item-image">
          <img src="{{events[events.length - 1].thumbnail}}">
        </div>

        <div class="item1st">
          <h1>{{events[events.length - 1].title}}</h1>
          <p>{{events[events.length - 1].date}}</p>
        </div>
      </ion-item>

      <ion-item class="item-thumbnail-right" ng-repeat="event in events | orderBy:'-id'" href="#/app/events/{{event.id}}" ng-if="!$first">
        <img src="{{event.thumbnail}}">
        <h2>{{event.title}}</h2>
        <p>{{event.date}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
