<ion-side-menus>

  <ion-side-menu-content>
    <ion-nav-bar class="bar bar-header bar-green">
      
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>


  <ion-side-menu side="left" width="300" class="main" >

        <div id="weather" ng-init="init()" ></div>  
      <ion-scroll scroll="true" class="scroll" direction="y"  zoom="3">
<h1>
      <button nav-clear menu-close class="maps" onclick="window.location.href='#/app/map'"><div class="textmap">Map</div>
        </button>
        <button   nav-clear menu-close class="news" onclick="window.location.href='#/app/feedback'">
        <div class="textnews">Feedback</div>
        </button>
</h1>
<h2>
    
        <button  nav-clear menu-close class="event" onclick="window.location.href='#/app/events'">
        <div class="textevent">News & Events</div>       
         </button>
        <button  nav-clear menu-close class="direction" onclick="window.location.href='#/app/direction'">
        <div class="textdirection">Direction</div>
        </button>
</h2>
    <h3>
        <button  nav-clear menu-close class="feedback" onclick="window.open('http://www.pinterest.com/VisitHaltia/','_system','location=yes');return false;">
         <div class="textfeedback"> Pinterest </div>
        </button> 
    </h3>
<h4>
    <button  nav-clear menu-close class="facebook" onclick="window.open('https://www.facebook.com/haltiacom','_system','location=yes');return false;">
     <div class="textfacebook"> Facebook </div>
    </button>
</h4>

</ion-sroll>
</ion-side-menus>
