.maps {
   -moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
   -webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
   box-shadow:inset 0px 1px 0px 0px #9acc85;
   background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #168534), color-stop(1, #168534));
   background:-moz-linear-gradient(top, #168534 5%, #168534 100%);
   background:-webkit-linear-gradient(top, #168534 5%, #168534 100%);
   background:-o-linear-gradient(top, #168534 5%, #168534 100%);
   background:-ms-linear-gradient(top, #168534 5%, #168534 100%);
   background:linear-gradient(to bottom, #168534 5%, #168534 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#168534', endColorstr='#168534',GradientType=0);
   border:0px solid #3b6e22;
   display:inline-block;
   cursor:pointer;
   color:#ffffff;
   background-color: #4CAF50;
   font-family:arial;
   font-size:13px;
   font-variant:left;
   padding:10px 6px;
   text-decoration:none;
   height: 95px ;
   width: 36% ;
   margin-left: -2px;
     box-shadow: 2px 2px 5px #212121;

 }
 div.textmap{
  position: relative;
  bottom: -30px;
}

.maps:active {
  position:relative;
  top:1px;
}
.news {
 -moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
 -webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
 box-shadow:inset 0px 1px 0px 0px #9acc85;
 background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #168534), color-stop(1, #168534));
 background:-moz-linear-gradient(top, #168534 5%, #168534 100%);
 background:-webkit-linear-gradient(top, #168534 5%, #168534 100%);
 background:-o-linear-gradient(top, #168534 5%, #168534 100%);
 background:-ms-linear-gradient(top, #168534 5%, #168534 100%);
 background:linear-gradient(to bottom, #168534 5%, #168534 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#168534', endColorstr='#168534',GradientType=0);
 background-color:#4CAF50;
 border:0px solid #3b6e22;
 display:inline-block;
 cursor:pointer;
 color:#ffffff;
 font-family:arial;
 font-size:13px;
 padding:10px 6px;
 text-decoration:none;
 height: 95px ;
 margin-top: 30px;
 width: 36% ;
  box-shadow: 2px 2px 5px #212121;
  margin-left: 1%;
}

.news:active {
  position:relative;
  top:1px;
}
div.textnews{
  position: relative;
  bottom: -30px;
}
.event {
  -moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
  -webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
  box-shadow:inset 2px 2px 5px 0px #9acc85;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #168534), color-stop(1, #168534));
  background:-moz-linear-gradient(top, #168534 5%, #168534 100%);
  background:-webkit-linear-gradient(top, #168534 5%, #168534 100%);
  background:-o-linear-gradient(top, #168534 5%, #168534 100%);
  background:-ms-linear-gradient(top, #168534 5%, #168534 100%);
  background:linear-gradient(to bottom, #168534 5%, #168534 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#168534', endColorstr='#168534',GradientType=0);
  background-color:;
  border:0px solid #3b6e22;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:13px;
  padding:10px 6px;
  text-decoration:none;
  height: 95px ;
  width: 35% ;
    box-shadow: 2px 2px 5px #212121;

}
div.textevent{
  position: relative;
  bottom: -35px;
}
.event:active {
  position:relative;
  top:1px;
}
.direction {
  -moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
  -webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
  box-shadow:inset 0px 1px 0px 0px #9acc85;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #168534), color-stop(1, #168534));
  background:-moz-linear-gradient(top, #168534 5%, #168534 100%);
  background:-webkit-linear-gradient(top, #168534 5%, #168534 100%);
  background:-o-linear-gradient(top, #168534 5%, #168534 100%);
  background:-ms-linear-gradient(top, #168534 5%, #168534 100%);
  background:linear-gradient(to bottom, #168534 5%, #168534 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#168534', endColorstr='#168534',GradientType=0);
  background-color:#4CAF50;
  border:0px solid #3b6e22;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:13px;
  padding:10px 10px;
  text-decoration:none;
  height: 95px ;
  width: 35% ;
  margin-left: 1%;
  box-shadow: 2px 2px 5px #212121;

}
div.textdirection{
  position: relative;
  bottom: -35px;
}
.direction:active {
  position:relative;
  top:1px;
}

.feedback {
 /**/
 background-color: #e85061;
 border:0px solid #3b6e22;
 display:inline-block;
 cursor:pointer;
 color:#ffffff;
 font-family:arial;
 font-size:18px;
 padding:10px 6px;
 text-decoration:none;
 width: 80% ;
 height: 35px ;
   box-shadow: 2px 2px 5px #212121;

}
div.textfeedback{
  position: relative;
  top: -5px;
}
/*.feedback:active {
  position:relative;
  top:1px;
}*/
.facebook {
 /* -moz-box-shadow:inset 0px 1px 0px 0px #9fb4f2;
  -webkit-box-shadow:inset 0px 1px 0px 0px #9fb4f2;
  box-shadow:inset 0px 1px 0px 0px #9fb4f2;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
  background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);*/
  background-color:#2962FF;
  border:0px solid #4e6096;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:18px;
  padding:10px 6px;
  text-align: center;
  text-decoration:none;
  width: 80% ;
  height: 35px;
 box-shadow: 2px 2px 6px #212121;

}
div.textfacebook{
   position: relative;
  top: -5px;
}
.facebook:active {
  position:relative;
  top:1px;
}
/*div css*/
div.weather{
  top:-100px;
  

}

h1{
  position:relatvie;
  margin-bottom: 20px ;

  margin-right:-25px;
  margin-left: 40px;
}
h2{
  position: relative;
  top: -10px auto;
  margin-bottom:20px;
  margin-right:-33px;
  margin-left: 38px;}
h3{
    position: relative;
    top: -10px auto;
     margin:35px;
     margin-right: -10px;
     margin-bottom: -5px;
     margin-left: 38px;
  }
  h4{
    position: relative;
    top: -10px auto;
    margin:25px;
    margin-right: -10px;
     margin-left: 38px;
  }
  .main{
    background-color:#263238 ;
  }
  /*insert image and text*/

  .maps{
    background: url("map.png") no-repeat center;
    vertical-align: bottom;
    background-size: 35% auto; 
    background-color:#4CAF50;

  }
  .news{
    background: url("news.png") no-repeat center;
    vertical-align: bottom;
    background-size: 85% auto; 
    background-color:#4CAF50;
  }
  .event{
    background: url("event.png") no-repeat center;
    vertical-align: bottom;
    background-size: 60% auto; 
    background-color:#4CAF50;

  }
  .direction{
    background: url("bus.png") no-repeat center;
    vertical-align: bottom;
    background-size: 40% auto; 
    background-color:#4CAF50;
  }
.scroll{
  position: relative;
  height:100%;
    top: 0px!important;

  bottom: 2000px!important;
  left: 0 !important;
  right: 0 !important;
}