/* Empty. Add your own CSS if you like */

/* Event 1st item */
.item1st {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.item1st h1 {
  margin-left: 0px;
}

.overlay {
  position: absolute;
  bottom: 0;
}

/*Haltia bar*/
.bar.bar-green {
	border-color: #4CAF50;
	background-color: #4CAF50;
	background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
	color: #444;
	
}


.bar.bar-green .title {
	color: #fff;
	align: left;
}

/*Direction page style*/

.DirImg {
	margin-bottom: 2%;

	width: 100%;
	box-shadow: 2px 2px 4px #212121;
}

.h3 {
	/*position*/
	margin-left: 2%;

	/*font format*/
	color: #1B5E20;
	font-size: 150%;
	font-family: roboto;
	font-weight: bold;

}



.address {
	margin-left: 2%;
	margin-right: 2%;
}

.content {

	float: left;
	margin-top: 16px;

	/*font format*/
	color: #424242;
	font-size: 120%;
	font-family: roboto;
	font-weight: bold;

}

.ClipboardButton {
	float: right;
	text-align: center;
	margin-bottom: 5%;
	box-shadow: 1px 1px 0px 0px #9d9e9c;
	background-color:#4CAF50;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	display:inline-block;
	cursor:pointer;
	color: #fff;
	font-family:roboto;
	font-size:120%;
	padding:16px 16px;
	padding-left: 15px;

}


.ClipboardButton:active, .directionButton:active  {
	position:relative;
	top:1px;
}


.directionButton {
	width: 100%;
	text-align: center;
	margin-bottom: 5%;

	-moz-box-shadow: 1px 1px 0px 0px #9d9e9c;
	-webkit-box-shadow: 1px 1px 0px 0px #9d9e9c;
	box-shadow: 1px 1px 0px 0px #9d9e9c;
	background-color:#4CAF50;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	display:inline-block;
	cursor: pointer;
	color: white;
	font-family:roboto;
	font-size:125%;
	padding:16px 16px;
	text-decoration:none;

}

.directionButton:active  {
	position:relative;
	top:1px;
}


.googleImg {
	width: 8%;
	height: 8%;
	margin-right: 4px;
	margin-bottom: -2%;
	margin-top: -1%;

}



.hslImg {
	width: 25%;
	height: 25%;
	margin-right: 4px;
	margin-bottom: -7%;
	margin-top: -7%;
}



/*thu nghiem*/ 

.TestMenu {
	position: relative;
	width: 100%;
	height: 100%;
}

/* Gallery */

.gallery li{
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    float: left;
    line-height: 200px;
    text-align: center;
    padding: 1px;
}

.gallery li img {
    max-width: 350px;
    vertical-align: middle;
    margin: -50% -100%;
}

@media only screen and (max-width : 480px) {
   /* Smartphone view: 3 tile */
   .gallery li {
      width: 33.3%;
      padding-bottom: 33.3%;
   }
}

@media only screen and (max-width : 650px) and (min-width : 481px) {
   /* Smartphone view: 4 tile */
   .gallery li {
      width: 25%;
      padding-bottom: 25%;
   }
}

@media only screen and (max-width : 1050px) and (min-width : 651px) {
   /* Smartphone view: 5 tile */
   .gallery li {
      width: 20%;
      padding-bottom: 20%;
   }
}

.full-size {
  width: 100%;
}

.full-size img {
  max-width: 100%;
}

#left-slider {
    display: block;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 10px;
    opacity: 0.4;
}

#right-slider {
    display: block;
    z-index: 10;
    position: absolute;
    top: 50%;
    right: 10px;
    opacity: 0.4;
}
